@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color:#f3faf4 ;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.main-nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color:#0B5351;
    color: white;
    padding: 5px 5px ;
}

.nav-start{
    display: flex;
    align-items: space-around;
}

.home-button {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    background-color: #f3faf4;
    color: #0B5351;
    padding: 4px 8px;
    border-radius: 2px;
    margin-right: 15px;
}

.home-button:hover , .home-button:active{
    box-sizing: border-box;
    background-color: #0B5351;
    color: #f3faf4;
    border: solid 2px #f3faf4;
}

ion-icon{
    height: 20px;
    width:20px;
    color: #f3faf4;
    padding: 4px 4px;
    border-radius: 2px;
    background-color: #6ba275;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

form input{
    margin-right:5px;
    height: 40px;
    width: 80px;
    padding: 4px 8px;
    border: none;
    font-family: 'Poppins';
    border-radius: 2px;
    background-color: #f3faf4;
    text-align: center;
}