@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #86CB92;
    color: #0B5351;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
    font-family: 'Poppins';
}

.container{
    width: 30vw;
    height: auto;
    border-radius: 10px;
    background-color:#e7f5e9;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.form input{
    margin-bottom: 0.5em;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-family: 'Poppins';
    outline: none;
    padding: 0 3px;
}

.form input:focus{
    box-sizing: border-box;
    border: solid 2px #df9a57;
}

.form input:last-child{
    border: none;
    height: 35px;
    width: 70px;
    font-weight: 600;
    background-color: #260F26;
    border-radius: 5px;
    font-family: 'Poppins';
    color: white;
}

.form input:last-child:hover{
    cursor: pointer;
    background-color: white;
    color:#260F26 ;
}

.forgoten p, .forgoten a{
    display: inline;
    text-align: start;
    font-size: 0.6em;
}

.forgoten a{
    display: inline;
    text-align: start;
    font-size: 0.6em;
}

.forgoten a:link, .forgoten a:visited{
    text-decoration: none;
    color: #df9a57;
}

.forgoten a:hover, .forgoten a:active {
    color: #efcdab;
    text-decoration: underline;
}

.sign-up p, .sign-up a{
    display: inline;
    text-align: start;
    font-size: 0.9em;
}

.sign-up a:link, .sign-up a:visited{
    text-decoration: none;
    color: #df9a57;
}

.sign-up a:hover, .sign-up a:active {
    color: #efcdab;
    text-decoration: underline;
}

h3{
    margin: 0.5em 0;
}

.reseted_link:link, .reseted_link:visited{
    text-decoration: none;
    color: #df9a57;
}

.reseted_link:hover, .reseted_link:active {
    color: #efcdab;
    text-decoration: underline;
}